[submodule "plugins/theme/themes/DarkBetter"]
	path = plugins/theme/themes/DarkBetter
	url = https://github.com/chocolatkey/DarkBetter
[submodule "plugins/autodl-irssi"]
	path = plugins/autodl-irssi
	url = https://github.com/autodl-community/autodl-irssi.git
[submodule "plugins/rutorrent-thirdparty-plugins"]
	path = plugins/rutorrent-thirdparty-plugins
	url = https://github.com/Micdu70/rutorrent-thirdparty-plugins.git
